.card {
  width: 1000px;
  height: 75vh;
  min-height: 500px;
  border-radius: 5px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 80px; }
  .card .card__left {
    display: flex;
    flex-direction: column; }
    .card .card__left .card__info {
      margin-bottom: 20px; }
  .card .card__right {
    margin-top: 25px;
    padding: 0;
    position: relative;
    font-size: 14px;
    overflow-y: auto; }
    .card .card__right .card__info span {
      line-height: 20px;
      vertical-align: middle; }
  .card .card__buttons {
    grid-column-end: span 2;
    display: flex;
    justify-content: center;
    padding: 10px; }
    .card .card__buttons .btn {
      margin: 10px;
      align-self: center; }
  .card .card__info-label {
    margin-bottom: 5px;
    opacity: 0.4; }
  .card .card__info {
    margin-bottom: 10px;
    color: #4d5061; }
    .card .card__info .card__link {
      border: 1px dotted #66a9d7; }
    .card .card__info .btn-inline {
      display: inline-block; }
  .card .card__info--large {
    margin: 20px 0; }
  .card .card__info-container {
    border-bottom: 1px dashed #e3d2cc;
    padding: 10px 0; }
  .card .card__info-container--texts .card__info {
    color: #064789; }
  .card .card__avatar {
    margin-left: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: middle; }
  .card input, .card textarea {
    width: 100%;
    margin: 0 0 20px;
    border: 1px solid transparent;
    background: rgba(245, 239, 237, 0.9); }
    .card input:focus, .card textarea:focus {
      background: #e7f2f9;
      border-color: #66a9d7;
      color: #064789; }
  .card textarea {
    flex: 1;
    resize: none; }
  .card .card__subtasks {
    margin-top: 20px; }
  .card .todo-item {
    display: flex;
    align-items: center;
    padding: 10px; }
    .card .todo-item input,
    .card .todo-item textarea {
      margin: 0;
      line-height: 1.5; }
  .card .react-datepicker {
    border-color: #66a9d7;
    box-shadow: 2px 2px 7px rgba(77, 80, 97, 0.5); }
  .card .react-datepicker,
  .card .react-datepicker__header,
  .card .react-datepicker__time-container {
    border-color: #a3cbe7; }
  .card .react-datepicker__header {
    background: #e7f2f9; }
  .card .react-datepicker__current-month,
  .card .react-datepicker-time__header {
    color: #064789; }
  .card .react-datepicker__day:hover,
  .card .react-datepicker__time-list-item:hover {
    color: white;
    background: #0a7aeb !important; }
  .card .react-datepicker__day--selected,
  .card .react-datepicker__time-list-item--selected {
    background: #0860ba !important; }
    .card .react-datepicker__day--selected:hover,
    .card .react-datepicker__time-list-item--selected:hover {
      background: #0754a1 !important; }
  .card .react-datepicker__time-list-item {
    width: 69px; }
  .card .react-datepicker-wrapper,
  .card .react-datepicker__input-container {
    width: 100%; }
    .card .react-datepicker-wrapper input,
    .card .react-datepicker__input-container input {
      text-align: center; }
