.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(87, 85, 88, 0.6);
  color: white;
  font-size: 18px; }
  .header > div {
    display: inline-block;
    padding: 10px 20px; }
  .header .btn {
    display: inline-block;
    margin: 0 10px; }
  .header .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .header .header__filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative; }
    .header .header__filters::before {
      content: '';
      position: absolute;
      left: 12.5%;
      right: 12.5%;
      bottom: 2px;
      border-radius: 8px;
      height: 16px;
      background: rgba(245, 239, 237, 0.7);
      box-shadow: inset -1px 2px 3px #4d5061; }
    .header .header__filters::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #f5efed;
      box-shadow: 1px 1px 3px #30323d;
      transition: 0.2s all ease-out;
      transform: translateX(-50%); }
    .header .header__filters.header__filters--0::after {
      left: 12.5%; }
    .header .header__filters.header__filters--1::after {
      left: 37.5%; }
    .header .header__filters.header__filters--2::after {
      left: 62.5%; }
    .header .header__filters.header__filters--3::after {
      left: 87.5%; }
    .header .header__filters.header__filters--4::after {
      left: 112.5%; }
  .header .header-filters__item {
    padding: 0 10px 24px;
    font-size: 12px;
    position: relative;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    color: rgba(245, 239, 237, 0.5);
    transition: 0.2s all; }
    .header .header-filters__item:hover {
      color: white; }
  .header .header-filters__item--selected {
    color: white; }
  .header .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #f5efed; }
  .header .header-right {
    text-align: right; }
  .header .header__user-name {
    font-weight: 700;
    margin: 0 20px; }
