/*#49483E
#F92672
#A6E22E
#FD971F
#66D9EF
#AE81FF
#A1EFE4
#F8F8F2

## secondary
#75715E
#FC5C94
#C1F161
#FEB257
#8DE6F7
#C2A1FF
#BBF7EF
#F8F8F0
#1B1D1E
#272822
#49483E
#75715E*/
.kanban-board {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*.kanban-board__droppable--over {
    background-color: rgba(lighten($column-title-bg, 30%), .4);
  }*/ }
  .kanban-board .kanban-board__column {
    display: flex;
    flex-direction: column;
    background: rgba(222, 222, 222, 0.5);
    margin: 0 5px;
    padding: 0;
    border-radius: 5px;
    transition: 0.3s all;
    overflow: hidden; }
    .kanban-board .kanban-board__column:hover {
      background: rgba(77, 80, 97, 0.5);
      box-shadow: 2px 2px 7px rgba(48, 50, 61, 0.7); }
      .kanban-board .kanban-board__column:hover .kanban-board__column-title {
        color: #f5efed; }
  .kanban-board .kanban-board__column-title {
    transition: all 0.3s;
    padding: 10px 20px;
    color: #4d5061; }
  .kanban-board .kanban-board__droppable {
    padding-top: 1px;
    flex-grow: 1; }
  .kanban-board .kanban-board-item {
    text-align: center;
    background: #f5efed;
    padding: 5px;
    margin: 15px;
    margin-top: 0;
    box-shadow: 1px 3px 5px rgba(48, 50, 61, 0.15); }
  .kanban-board .kanban-board-item__title {
    background: #ffd866;
    color: #575558;
    padding: 5px;
    margin: -5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0bf60; }
