.login-form {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(245, 239, 237, 0.6);
  border-radius: 5px;
  padding: 0 20px 20px;
  overflow: hidden; }

.login-form__tabs {
  display: flex;
  margin-bottom: 20px; }

.login-form__tab {
  flex-grow: 1;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  min-height: 2em; }
  .login-form__tab--selected {
    background: #f5efed; }

.login-form__submit {
  margin-bottom: 0; }

.login-form__icons {
  font-size: 3em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #f5efed; }
  .login-form__icons svg {
    margin: 0 20px;
    animation: 10s rotate infinite;
    animation-timing-function: linear; }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }
