.login-form {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(245, 239, 237, 0.6);
  border-radius: 5px;
  padding: 0 20px 20px; }
  .login-form .checkbox-container {
    display: flex;
    background: rgba(245, 239, 237, 0.8);
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 2.5em;
    overflow: hidden; }
    .login-form .checkbox-container .checkbox-container__aside {
      padding: 0 15px;
      background: #f5efed;
      color: #064789;
      display: inline-block;
      margin-right: 10px;
      font-size: 1.5em;
      width: 50px; }
  .login-form .form-text-label {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    background: #ffd866;
    margin-top: 20px;
    border-radius: 5px;
    color: #30323d;
    line-height: 1.5;
    font-size: 12px; }
    .login-form .form-text-label .form-text-label__aside {
      margin-right: 15px;
      color: #d8315b;
      font-size: 2em; }

.login-form__tabs {
  display: flex;
  margin-bottom: 20px;
  margin-top: -15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(77, 80, 97, 0.6); }

.login-form__tab {
  flex-grow: 1;
  margin: 0;
  outline: none;
  border: none;
  min-height: 2em;
  background: #f5efed;
  font-weight: 400;
  transition: all 0.2s; }
  .login-form__tab:hover:not(.login-form__tab--selected) {
    background: #096dd2;
    color: white; }
  .login-form__tab--selected {
    background: #0860ba;
    color: white; }

.login-form__submit {
  margin-bottom: 0; }

.login-form__icons {
  font-size: 3em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #f5efed; }
  .login-form__icons svg {
    margin: 0 20px;
    animation: 10s rotate infinite;
    animation-timing-function: linear; }

.input-container {
  display: block;
  padding-top: 15px;
  position: relative; }
  .input-container input:focus {
    outline: #0860ba; }
  .input-container .input-label {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #4d5061;
    transition: 0.3s all ease-out; }
  .input-container .input-label--up {
    color: #064789;
    top: 0;
    font-size: 0.8em; }

@keyframes rotate {
  to {
    transform: rotate(360deg); } }
