.priority-selector {
  display: inline-block; }
  .priority-selector .priority-selector__star {
    color: #4d5061; }
  .priority-selector .priority-selector__star--selected {
    color: #096dd2; }
  .priority-selector:hover .priority-selector__star {
    color: #0a7aeb; }
    .priority-selector:hover .priority-selector__star:hover ~ .priority-selector__star {
      color: #4d5061; }
