body {
  background: #4B7C9C url("../img/bg-calm.jpg");
  background-size: cover;
  height: 100vh; }

h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 5px;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 5px; }

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px 20px;
  background: rgba(245, 239, 237, 0.7);
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 0 10px;
  transition: background-color 0.3s; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    background: white; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  textarea:invalid {
    border-color: #d8315b; }

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }

.btn {
  display: block;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba(48, 50, 61, 0.4);
  margin: 20px auto; }

.btn-primary {
  color: white;
  font-weight: 700;
  background: #0860ba;
  transition: background-color 1s ease-out; }
  .btn-primary:hover {
    background: #0a7aeb; }

.translucent {
  opacity: .4; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
