@import '../../assets/styles/colors.scss';

$zIndex: 100;

.modal-container {
  z-index: $zIndex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 45px;
  background: white;
  border-radius: 5px;
  // overflow: hidden;

  .modal-container__close-button {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $dark-cerulean;
    transition: 0.5s color;

    &:hover {
      color: lighten($dark-cerulean, 10%);
    }
  }

  & + .overlay {
    z-index: $zIndex - 1;
  }
}
