@import '../../assets/styles/colors.scss';
$padding: 10px;

.login-register-form {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($i-white, 0.6);
  border-radius: 5px;
  padding: 0 $padding * 2 $padding * 2;  
}

.login-register-form__tabs {
  margin-bottom: $padding * 2;
  margin-top: -15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba($i-grey, .6);
}

.login-register-form-tabs__button {
  display: inline-block;
  width: 50%;
  margin: 0;
  outline: none;
  border: none;
  min-height: 2em;
  background: $i-white;
  font-weight: 400;
  transition: all 0.2s;

  &:hover:not(.login-register-form-tabs__button--selected) {
    background: lighten($mid-cerulean, 5%);
    color: white;
  }

  &:focus,
  &:visited {
    outline: none;
    border: none;
  }

  &--selected {
    background: $mid-cerulean;
    color: white;
  }
}