@import '../../assets/styles/colors.scss';
$padding: 10px;

.login-register-form {
  position: absolute;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($i-white, 0.6);
  border-radius: 5px;
  padding: 0 $padding * 2 $padding * 2;

  .checkbox-container {
    margin-top: 5px;
  }

  .form-text-label {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    background: $yellow;
    margin-top: 20px;
    border-radius: 5px;
    color: $gun-grey;
    line-height: 1.5;
    font-size: 12px;

    .form-text-label__icon {
      margin-right: 15px;
      color: $cherry;
      font-size: 2em;
    }
  }
}

.login-register-form__tabs {
  display: flex;
  margin-bottom: $padding * 2;
  margin-top: -15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba($i-grey, .6);
}

.login-register-form-tabs__button {
  flex-grow: 1;
  margin: 0;
  outline: none;
  border: none;
  min-height: 2em;
  background: $i-white;
  font-weight: 400;
  transition: all 0.2s;

  &:hover:not(.login-register-form-tabs__button--selected) {
    background: lighten($mid-cerulean, 5%);
    color: white;
  }

  &--selected {
    background: $mid-cerulean;
    color: white;
  }
}

.login-register-form__submit {
  margin-bottom: 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
  background: rgba($i-white, 0.8);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;

  .checkbox-container__icon {
    margin-right: 10px;
    width: 14px;
    height: 18px;
  }
}