@import '../../assets/styles/colors.scss';

.labeled-checkbox {
  display: flex;
  align-items: center;
  background: rgba($i-white, 0.8);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  transition: .2s;

  &:hover {
    background: $i-white;
  }

  .labeled-checkbox__icon {
    margin-right: 10px;
    width: 14px;
    height: 18px;
  }
}