.kanban-board-item-deadline {
  padding: 5px 20px;
  font-size: 10px;
  line-height: 14px;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}