@import '../../assets/styles/colors.scss';

.comment {
  background: $i-white;
  border-radius: 5px;
  padding: 5px 10px;

  .comment__created {
    margin-bottom: 10px;
  }
}

.comment__created,
.comment__edited {
  width: 100%;
  font-size: 10px;
  color: $gun-grey;
  text-align: right;
}

.comment-created {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comment__text {
  display: block;
  margin-bottom: 5px;
  flex-grow: 1;
}
