@import "../../assets/styles/colors.scss";

$padding: 10px;

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba($mid-grey, .6);
  color: white;
  font-size: 18px;

  & > div {
    display: inline-block;
    padding: $padding $padding * 2;
  }

  .btn {
    display: inline-block;
    margin: 0 10px;
  }

  .header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }  

  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: $i-white;
  }

  .header__user {
    text-align: right;
  }

  .header__user-name {
    font-weight: 700;
    margin: 0 20px;
  }
}
