@import './assets/styles/fonts.scss';

@import './assets/styles/template.scss';
@import './assets/styles/kanban-board.scss';
@import './assets/styles/card.scss';
@import './assets/styles/side-menu.scss';
@import './assets/styles/priority-selector.scss';

* {
  box-sizing: border-box;
}

.Toastify__toast {
	font-family: inherit;
	padding: 20px;
	border-radius: 5px;
}
