$grey: #555;
$royal-blue: #0a2463;
$celestial-blue: #3e92cc;
$dark-cerulean: #064789;
$white: #fffaff;
$b-white: #FDF9F3;
$cherry: #d8315b;
$dark-red: #d83336;
$warning-red: #f6442f;
$eerie-black: #1e1b18;
$green: #679436;
$mid-green: #A6E22E;
$light-green: #C1F161;

$gun-grey: #30323d;
$i-grey: #4d5061;
$i-white: #f5efed;
$light-red: #f87060;
$yellow: #ffd866;
$mid-grey: #575558;

/*#49483E
#F92672
#A6E22E
#FD971F
#66D9EF
#AE81FF
#A1EFE4
#F8F8F2

## secondary
#75715E
#FC5C94
#C1F161
#FEB257
#8DE6F7
#C2A1FF
#BBF7EF
#F8F8F0
#1B1D1E
#272822
#49483E
#75715E*/
