$grey: #555;
$royal-blue: #0a2463;
$celestial-blue: #3e92cc;
$dark-cerulean: #064789;
$white: #fffaff;
$b-white: #FDF9F3;
$cherry: #d8315b;
$dark-red: #d83336;
$warning-red: #f6442f;
$eerie-black: #1e1b18;
$green: #679436;
$mid-green: #A6E22E;
$light-green: #C1F161;

$gun-grey: #30323d;
$i-grey: #4d5061;
$i-white: #f5efed;
$light-red: #f87060;
$yellow: #ffd866;
$mid-grey: #575558;
