@import './colors';
@import "./mixins";

.comments {
  .comments-item--focused,
  .comments-create {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments-item {
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
    background: rgba(245, 239, 237, 0.5);
    margin-right: 5px;
    border-radius: 5px;

    &:hover .comment-item__buttons {
      display: block;
    }
  }

  .comments-item__date,
  .comments-item__author {
    color: #aaa;
    font-size: 10px;
    padding: 0 5px;
  }

  .comments__text {
    font-size: 16px;
    margin: 5px 0;
    padding: 5px;
  }

  .comments-item__author {
    text-align: right;
    padding-right: 20px;
  }

  .comment-item__buttons {
    display: none;
    position: absolute;
    top: -10px;
    right: 0;
    padding: 5px;
    background: rgba(white, .8);
    border-radius: 5px;
  }

  .comments__textarea {
    @include card-textarea;
  }

  .btn-inline {
    @include card-inline-button;
  }
}
