@import "./colors";

$padding: 10px;

$board-bg: $b-white;
$column-bg: #dedede;
$column-bg--hover: $i-grey;

$column-title-bg: $celestial-blue;
// $column-title-color: $i-white;
$column-title-color: $i-grey;
$column-title-color--hover: $i-white;
$item-bg: $i-white;
$item-title-bg: $yellow;
$item-title-bg--warning: $warning-red;
$item-title-bg--expired: $dark-red;
$item-title-color: $mid-grey;

$border-radius: 5px;

.kanban-board {
  padding: $padding * 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .kanban-board__dummy-item {
    height: 200px;
    animation: halfFadeIn 1.5s infinite ease-in;
    background: $item-bg;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  .kanban-board__column {
    display: flex;
    flex-direction: column;
    background: rgba($column-bg, 0.5);
    margin: 0 $padding / 2;
    padding: 0;
    border-radius: $border-radius;
    transition: 0.3s all;
    overflow: hidden;

    &:hover {
      background: rgba($column-bg--hover, 0.5);
      box-shadow: 2px 2px 7px rgba($gun-grey, 0.7);

      .kanban-board__column-title {
        color: $column-title-color--hover
      }
    }
  }

  .kanban-board__column--loading {
    background: rgba($column-bg, 0.8);

    &:hover {
      background: rgba($column-bg, 0.8);
    }
  }

  .kanban-board__column-title {
    transition: all 0.3s;
    padding: $padding $padding * 2;
    color: $column-title-color;
  }

  .kanban-board__droppable {
    padding-top: 1px;
    flex-grow: 1;
    min-height: 300px;
  }

  .kanban-board__droppable--over {
    background-color: rgba(lighten($column-title-bg, 10%), .9);
  }

  .kanban-board-item {
    text-align: center;
    background: $item-bg;
    padding: $padding / 2;
    margin: $padding * 1.5;
    margin-top: 0;
    box-shadow: 1px 3px 5px rgba($gun-grey, .15);
    border-radius: 5px;
    overflow: hidden;
    transition: background 0.2s;
    position: relative;
    z-index: 0;

    &:hover {
      background: lighten($item-bg, 3%);

      & .kanban-board-item__edit-button {
        display: block;
      }
    }
  }

  .kanban-board-item__edit-button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 5px;
    cursor: pointer;
    color: $i-grey;
    opacity: 0.6;
    transition: 0.3s color;

    &:hover {
      opacity: 1;
    }
  }

  .kanban-board-item__header {
    background: $item-title-bg;
    color: $item-title-color;
    padding: $padding / 2 $padding * 1.5;
    margin: -$padding / 2;
    margin-bottom: 0;
    border-bottom: 1px solid #e0bf60;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.expired {
      background: $item-title-bg--expired;
      color: white;
      border-bottom-color: darken($item-title-bg--expired, 10%);
    }

    &.warning {
      background: darken($item-title-bg--warning, 5%);
      color: white;
      border-bottom-color: darken($item-title-bg--warning, 20%);
    }
  }

  .kanban-board-item__assignee-avatar {
    width: 31px;
    height: 31px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kanban-board-item__assignee-username {
    margin-left: auto;
    margin-right: 10px;
    font-weight: 700;
  }

  .kanban-board-item__title {
    margin-bottom: $padding;
    font-weight: 700;
    padding: 0 $padding;
  }

  .kanban-board-item__text {
    font-size: 12px;
    padding: 0 $padding;
    line-height: 1.5;
    margin-bottom: $padding * 1.5;
  }

  .kanban-board-item__deadline {
    padding: 0 $padding;
    font-size: 10px;
    line-height: 2;
    margin: $padding $padding * 3;
    margin-top: 0;
    padding: $padding / 3;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 30%;
      background-color: rgba($i-grey, .2);
    }
  }

  .kanban-board-item__deadline--expired {
    background: lighten($item-title-bg--expired, 5%);
    color: $white;
  }

  .kanban-board-item__deadline--soon {
    background: lighten($item-title-bg--warning, 5%);
    color: $white;
  }

  .kanban-board-item__footer {
    padding: 15px 25px 5px;
    color: rgba($i-grey, .6);
    font-size: 10px;
    text-align: center;
    position: relative;

    span {
      color: $i-grey;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 30%;
      background-color: rgba($i-grey, .1);
    }
  }

  .kanban-board-item__priority-stars {
    position: absolute;
    top: -4px;
    left: 50%;
    color: $i-grey;
    transform: translateX(-50%);
    font-size: 8px;
  }
}
