@import './colors.scss';
$padding: 10px;

.login-form {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($i-white, 0.6);
  border-radius: 5px;
  padding: 0 $padding * 2 $padding * 2;
}

.login-form__tabs {
  display: flex;
  margin-bottom: $padding * 2;
  margin-top: -15px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba($i-grey, .6);
}

.login-form__tab {
  flex-grow: 1;
  margin: 0;
  outline: none;
  border: none;
  min-height: 2em;
  background: $i-white;
  font-weight: 400;
  transition: all 0.2s;

  &:hover:not(.login-form__tab--selected) {
    background: lighten($mid-cerulean, 5%);
    color: white;
  }

  &--selected {
    background: $mid-cerulean;
    color: white;
  }
}

.login-form__submit {
  margin-bottom: 0;
}

.login-form__icons {
  font-size: 3em;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: $i-white;

  svg {
    margin: 0 20px;
    animation: 10s rotate infinite;
    animation-timing-function: linear;
  }
}

.input-container {
  display: block;
  padding-top: 15px;
  position: relative;

  input:focus {
    outline: $mid-cerulean;
  }

  .input-label {
    position: absolute;
    top: 25px;
    left: 20px;
    color: $i-grey;
    transition: 0.3s all ease-out;
  }

  .input-label--up {
    color: $mid-cerulean;
    top: 0;
    font-size: 0.8em;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
