@import './colors';

.priority-selector {
  display: inline-block;

  .priority-selector__star {
    color: $i-grey;
  }

  .priority-selector__star--selected {
    color: lighten($dark-cerulean, 15%);
  }

  &:hover {
    .priority-selector__star {
      color: lighten($dark-cerulean, 20%);

      &:hover  ~ .priority-selector__star {
        color: $i-grey;
      }
    }
  }
}
