@import './colors.scss';

$padding: 10px;

body {
  background: #4B7C9C url('./assets/img/bg-calm.jpg');
  background-size: cover;
  height: 100vh;
}

h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 5px;
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 5px;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="text"],
input[type="password"],
textarea {
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  padding: $padding $padding * 2;
  background: rgba($i-white, .7);
  border: none;
  border-radius: 5px;
  display: block;
  transition: background-color 0.3s;

  &:hover {
    background: $i-white;
  }

  &:focus {
    background: white;
  }

  &:invalid {
    border-color: $cherry;
  }
}

input[type="checkbox"].checkbox {
  ~ .checkbox-icon {
    color: $dark-cerulean;
  }

  &:checked ~ .checkbox-icon--unchecked {
    display: none;
  }

  &:not(:checked) ~ .checkbox-icon--checked {
    display: none;
  }
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  display: block;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgba($gun-grey, 0.4);
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.btn.disabled {
  opacity: 0.6;
}

.btn-inline {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
}

.btn-primary {
  color: white;
  font-weight: 700;
  background: lighten($dark-cerulean, 10%);
  transition: background-color 1s ease-out;

  &:hover {
    background: lighten($dark-cerulean, 20%);
  }
}

.btn-secondary {
  background: $yellow;
  transition: background-color 0.3s ease-out;

  &:hover {
    background: darken($yellow, 10%);
  }
}

.translucent {
  opacity: .4;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.overlay {
  position: fixed;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes halfFadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1365px) {
  #app::before {
    content: 'Mobile version is not available now. Please try again later';
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
  }

  .App {
    display: none;
  }
}
