@import "./colors";

@mixin iconButton($checked) {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  box-shadow: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: lighten($dark-cerulean, 10%);
    color: white;
  }

  .cancel-icon { display: none; }
  .done-icon { display: inline; }

  @if $checked {
    color: $green;

    &:hover {
      .cancel-icon { display: inline; }
      .done-icon { display: none; }
    }
  } @else {
    color: lighten($dark-cerulean, 10%);
  }
}

.todo-list {
  padding: 10px 0;

  .todo-create__textarea,
  .todo-line__textarea {
    width: auto;
    flex-grow: 1;
    margin: 0;
    margin-right: 10px;
    overflow: hidden;
    resize: vertical;
  }

  .btn-inline {
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 20px;
    padding: 0;
  }
}

.todo-create {
  display: flex;
  align-items: center;
}

.todo-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
  padding: 5px;
  padding-right: 0;
  border: 1px dashed darken($i-white, 10%);

  .todo-line__label {
    @include iconButton(false);
  }

  &--checked {
    .todo-line__label {
      @include iconButton(true);
    }

    .todo-line__text {
      opacity: 0.4;
      text-decoration: line-through;
    }
  }

  .todo-line__text {
    flex-grow: 1;
    align-self: stretch;
    margin-right: 10px;
    border-radius: 5px;
    line-height: 28px;
    padding: 0 10px;
    color: #000;
  }
}
