/*#49483E
#F92672
#A6E22E
#FD971F
#66D9EF
#AE81FF
#A1EFE4
#F8F8F2

## secondary
#75715E
#FC5C94
#C1F161
#FEB257
#8DE6F7
#C2A1FF
#BBF7EF
#F8F8F0
#1B1D1E
#272822
#49483E
#75715E*/
.header {
  display: flex;
  background: rgba(87, 85, 88, 0.6);
  color: white; }
  .header > div {
    display: inline-block;
    padding: 10px 20px; }

.header-left,
.header-right {
  width: 30%; }

.header-logo {
  text-align: center;
  width: 40%; }

.header-right {
  text-align: right; }
